body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#piano-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

label {
    margin: 5px;
}